[Unit]
Description=Gunicorn instance to serve mysite
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/mysite
Environment="PATH=/home/mysite/venv/bin"
ExecStart=/home/mysite/venv/bin/gunicorn --workers 3 --bind unix:mysite.sock app:app

[Install]
WantedBy=multi-user.target