<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>
    
    <meta property="og:title" content="{{ page.title_share }}" />
    <meta name="twitter:title" content="{{ page.title_share }}" />

    <meta name="description" content="{{ page.description | striptags | truncate(160) }}">
    <meta name="description" property="og:description" content="{{ page.description | striptags | truncate(160) }}" />
    <meta name="twitter:description" content="{{ page.description | striptags | truncate(160) }}" />

    
    <meta name="twitter:card" content="summary_large_image" />
    {% if site.twitter_handler %}
    <meta name="twitter:site" content="@{{site.twitter_handler}}" />
    {% endif %}
    
    <meta property="og:url" content="{{url_for('index')}}/{{page.url}}" />

    <meta property="og:image" content="{{ page.image}}" />
    <meta name="twitter:image" content="{{ page.image}}" />

    <meta name="author" content="{{site.name}}" />

    <meta name="copyright" content="Copyright by {{site.name}}. All Rights Reserved." />

    {% include 'fonts.html' %}
    {% if site.favicon %}
    <link href="{{ site.favicon }}" rel="shortcut icon" type="image/x-icon" />
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/code_highlighter.css') }}">
    {#
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    #}
</head>

