<script src="{{ url_for('static', filename='js/jquery-1.12.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/backtotop.js') }}"></script>
<script src="{{ url_for('static', filename='js/lunr.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lunr-feed.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fitvids.js') }}"></script>
<script src="{{ url_for('static', filename='js/svg4everybody.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>


{% if site.analytics_code != null %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8NGRHZX5X"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{site.analytics_code}}');
</script>
{% endif %}

<script> 
    window.MathJax = {
        options: {
            ignoreHtmlClass: 'tex2jax_ignore',
            processHtmlClass: 'tex2jax_process',
            renderActions: {
              find: [10, function (doc) {
                for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                  const display = !!node.type.match(/; *mode=display/);
                  const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                  const text = document.createTextNode('');
                  const sibling = node.previousElementSibling;
                  node.parentNode.replaceChild(text, node);
                  math.start = {node: text, delim: '', n: 0};
                  math.end = {node: text, delim: '', n: 0};
                  doc.math.push(math);
                  if (sibling && sibling.matches('.MathJax_Preview')) {
                    sibling.parentNode.removeChild(sibling);
                }
            }
          }, '']
        }
      }
    };
</script>
