<div class="search" role="search">
    <div>
        <div class="show-results-count">0 Results</div>
        <div class="search-holder">
            <input type="text" id="search-input" placeholder="search for..." />
        </div>
    </div>
    <ul id="results-container" class="results-container"></ul>
</div>


<script>
    var index = lunr(function () {
        this.field('title')
        this.field('content', {boost: 10})
        this.field('tags')
        this.ref('id')
    });

{#TO DO: this will stop working if pagination is implemented#}

{% for post in paginator.posts %}
    index.add({
      title: {{post.title | tojson}},
      content: {{post.content | striptags | tojson}},
      tags: {{post.tags | tojson}},
      id: {{loop.index0}}
    });
{% endfor %}


var store = [{% for post in paginator.posts %}{
    "title": {{post.title | tojson}},
    "link": {{ url_for('post', slug= post.slug) | tojson }},
    "image": {{ post.image | tojson }},
    "date": {{ post.date.strftime( "%d %b, %Y" ) | tojson }},
    "excerpt": {{ post.content | striptags | truncate(length=100) | tojson }}
},{% endfor %}]


$(document).ready(function() {
    $('#search-input').on('keyup', function () {
        var resultdiv = $('#results-container');
        if (!resultdiv.is(':visible'))
            resultdiv.show();
        var query = $(this).val();
        var results = index.search(query);
        resultdiv.empty();
        $('.show-results-count').text(results.length + ' Results');
        for (var item in results) {
            var ref = results[item].ref;
            var searchitem = '<li><a href="'+ store[ref].link+'">'+store[ref].title+'</a></li>';
            resultdiv.append(searchitem);
        }
    });
});

</script>
